<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net481" />
  <package id="bootstrap" version="3.0.0" targetFramework="net481" />
  <package id="bootstrap.chosen" version="1.0.0" targetFramework="net481" />
  <package id="codecracker.CSharp" version="1.0.3" targetFramework="net481" developmentDependency="true" />
  <package id="Dapper" version="1.50.2" targetFramework="net481" requireReinstallation="true" />
  <package id="editorconfig" version="0.12.1" targetFramework="net481" />
  <package id="FlexCodingStandardsAnalyzer" version="1.0.6292.30392" targetFramework="net481" developmentDependency="true" />
  <package id="jQuery" version="1.10.2" targetFramework="net481" />
  <package id="Kendo.Mvc" version="2016.3.914" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net481" />
  <package id="Modernizr" version="2.6.2" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net481" />
  <package id="PackMan.Core" version="1.0.9.000" targetFramework="net481" />
  <package id="PackMan.PartManagementModule.Core" version="1.0.0.000" targetFramework="net481" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net481" developmentDependency="true" />
  <package id="Xtend.Core" version="1.0.8.000" targetFramework="net481" />
</packages>